= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content
    = f.hidden_field :post_id
    = f.hidden_field :parent_comment_id

  .form-actions
    = f.button :submit
