:host {
    display: block;
    position: relative;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: hsl(0, 0%, 88%);
    font-size: 16px;
    min-height: 72px;
    z-index: 0;
}