- title("About")

.well
  %paper-card
    .card-content
      This web application was created by
    .card-actions
      = link_to('Cédric Bonhomme', '#')
    .card-actions
      = link_to('Thibaud d\'Arros', '#')

