= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :url
    = f.input :content
    = f.hidden_field :sub_id

  .form-actions
    = f.button :submit
